<div id="<%= dom_id purchase_item %>">
  <p>
    <strong>Purchase:</strong>
    <%= purchase_item.purchase_id %>
  </p>

  <p>
    <strong>Digital asset:</strong>
    <%= purchase_item.digital_asset_id %>
  </p>

  <p>
    <strong>Price at purchase:</strong>
    <%= purchase_item.price_at_purchase %>
  </p>

</div>
