<p style="color: green"><%= notice %></p>

<% content_for :title, "Purchase items" %>

<h1>Purchase items</h1>

<div id="purchase_items">
  <% @purchase_items.each do |purchase_item| %>
    <%= render purchase_item %>
    <p>
      <%= link_to "Show this purchase item", purchase_item %>
    </p>
  <% end %>
</div>

<%= link_to "New purchase item", new_purchase_item_path %>
