<% content_for :title, "New digital asset" %>

<h1>New digital asset</h1>

<%= render "form", digital_asset: @digital_asset %>

<br>

<div>
  <%= link_to "Back to digital assets", digital_assets_path %>
</div>
